<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head"></head>
<body>
    <nav th:replace="layout :: nav"></nav>

    <div class="container">
        <div class="row">
            <div class="card col-sm-6 col-md-4" style="max-width: 400px;">
                <div class="row no-gutters">
                    <div class="col-md-7">
                        <div style="width: 100%; height: 100%; max-width: 200px; max-height: 200px; background: blue;">
                            <!-- TODO: continent picture -->
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card-body">
                            <h5 class="card-title">Europe</h5>
                            <a class="card-link" th:href="@{/practice?region=europe}">Practice</a>
                            <a class="card-link" th:href="@{/summary?region=europe}">Show summary</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>