<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head"></head>
<body class="bg-dark">
    <nav th:replace="layout :: nav"></nav>

    <div class="container">
        <div class="mx-auto row justify-content-center mt-2">
            <div th:each="region : ${regions}" class="card col-sm-6 col-md-4 bg-light m-4" style="max-width: 275px;">
                <div class="card-body">
                    <h5 th:text="${region.name}" class="card-title text-center">Europe</h5>
                    <p>
                        <span th:text="${practice.get(region.id)}">4</span> countries for review
                    </p>
                    <a class="btn btn-sm btn-outline-dark btn-block" th:href="@{/practice(region=${region.id})}">Practice</a>
                    <a class="btn btn-sm btn-outline-dark btn-block"
                       th:href="@{/summary(region=${region.id})}">Summary</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>