<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head"></head>
<body class="bg-dark text-white">
    <div class="container">

        <h1 th:replace="layout :: heading">Atlas</h1>

        <div th:if="${param.logout}" class="w-50 mx-auto alert alert-success alert-dismissible fade show" role="alert">
            You have been logged out.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <h2 class="display-5 text-center">Log into your account</h2>

        <div th:if="${param.error}" class="w-50 mx-auto mt-2 alert alert-danger alert-dismissible fade show" role="alert">
            Incorrect username and password.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div>
            <form class="w-50 mx-auto" th:action="@{/login}" method="post">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input class="form-control" type="text" id="username" name="username">
                </div>

                <div class="form-group mb-5">
                    <label for="password">Password:</label>
                    <input class="form-control" type="password" id="password" name="password">
                </div>

                <div class="text-center">
                    <button class="btn btn-lg btn-success mx-1" type="submit">Log in</button>
                    <a class="btn btn-lg btn-danger mx-1" th:href="@{/}">Cancel</a>
                </div>

            </form>
        </div>

    </div>

    <div th:include="layout :: scripts"></div>

</body>
</html>