<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>

    <title>Atlas - Learn maps effectively</title>
</head>
<body class="bg-dark text-white">
    <nav th:replace="layout :: nav"></nav>

    <div id="map-area" class="container text-center mb-3">
        <h3 class="mb-4">Select <span id="country">Czechia</span></h3>
        <div id="map" class="mx-auto mb-4" style="width: 75%; height: 450px; border: medium solid white; border-radius: 4px;">
        </div>
        <p><span id="countries-left">11</span> countries left</p>
        <button id="display-country" class="btn btn-outline-light mx-1" type="button">Display country</button>
        <a class="btn btn-outline-light mx-1" th:href="@{/dashboard}">Quit practice</a>
    </div>

    <div id="finished-message" class="container text-center my-5" style="display: none;">
        <h2>Congratulations!</h2>
        <p>You've finished the practice.</p>
        <a class="btn btn-outline-light" th:href="@{/dashboard}">Back to dashboard</a>
    </div>

    <script th:inline="javascript">
        const practiceItems = [[${practiceItems}]];
        const region = [[${region}]];
        const csrfToken = [[${_csrf.token}]];
        console.log(region);
        console.log('items from db:');
        console.log(practiceItems);
    </script>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <script type="module" th:src="@{/js/practice.js}"></script>
</body>
</html>