<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <title>Atlas</title>
</head>
<body>
    <nav class="nav navbar-expand-lg navbar-dark bg-dark text-white mb-5 py-1">
        <div class="container">
            <a class="navbar-brand" href="#">Atlas</a>
            <a class="float-right" href="#">Log out</a>
        </div>
    </nav>

    <div class="container text-center">
        <h3 class="mb-4">Select <span id="country">Czechia</span></h3>
        <div id="map" class="mx-auto mb-4" style="width: 75%; height: 450px;">
        </div>
        <p><span>11</span> countries left</p>
        <button class="btn btn-outline-secondary mx-1" type="button">Display country</button>
        <a class="btn btn-outline-secondary mx-1" href="#">Quit practice</a>
    </div>

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <script type="module" th:src="@{/js/practice.js}"></script>
</body>
</html>