<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head"></head>
<body class="bg-dark text-white">
    <div class="container">

        <h1 th:replace="layout :: heading">Atlas</h1>

        <h2 class="display-5 text-center">Log into your account</h2>

        <div>
            <form class="w-50 mx-auto" th:action="@{/signup}" method="post" th:object="${user}">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input th:field="*{username}" class="form-control" type="text" id="username" />
                    <div th:if="${userAlreadyExists}" style="margin-top: 0.25rem; font-size: 80%; color: white;">
                        Username already exists
                    </div>
                    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                         style="margin-top: 0.25rem; font-size: 80%; color: white;"></div>
                </div>

                <div class="form-group mb-5">
                    <label for="password">Password:</label>
                    <input class="form-control" type="password" id="password" th:field="*{password}">
                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                         style="margin-top: 0.25rem; font-size: 80%; color: white;"></div>
                </div>

                <div class="text-center">
                    <button class="btn btn-lg btn-success mx-1" type="submit">Register</button>
                    <a class="btn btn-lg btn-danger mx-1" th:href="@{/}">Cancel</a>
                </div>

            </form>
        </div>

    </div>
</body>
</html>