<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head"></head>
<body>
    <div class="container">

        <div class="mx-auto text-center">
            <h1 class="display-2 mb-5">Atlas</h1>
        </div>

        <div>
            <form class="w-50 mx-auto" th:action="@{/signup}" method="post" th:object="${user}">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input class="form-control" type="text" id="username"
                           th:field="*{username}" th:classappend="${userAlreadyExists} ? 'is-invalid'">
                    <div class="invalid-feedback" th:if="${userAlreadyExists}">
                        Username already exists
                    </div>
                </div>

                <div class="form-group mb-5">
                    <label for="password">Password:</label>
                    <input class="form-control" type="password" id="password" th:field="*{password}">
                </div>

                <div class="text-center">
                    <button class="btn btn-lg btn-success mx-1" type="submit">Register</button>
                    <a class="btn btn-lg btn-danger mx-1" th:href="@{/}">Cancel</a>
                </div>

            </form>
        </div>

    </div>
</body>
</html>