<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head"></head>
<body class="bg-dark text-white">
    <nav th:replace="layout :: nav"></nav>

    <div class="container">
        <div class="mx-auto" style="max-width: 800px;">
            <h3 th:text="${regionName}" class="text-center mb-2">Asia</h3>
            <a th:href="@{/dashboard}" class="text-light ml-2">Back to dashboard</a>
            <table class="table table-dark my-3">
                <thead>
                <tr>
                    <th scope="col">Country</th>
                    <th scope="col">Memory strength</th>
                    <th scope="col" class="text-right">Next review</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${practiceItems}">
                    <td th:text="${item.country}">Austria</td>
                    <td>
                        <div class="progress" th:with="strength=${item.memoryStrength * 10}">
                            <div class="progress-bar" th:text="${strength} + '%'" th:attr="style='width: ' + ${strength} + '%;'" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </td>
                    <td th:text="${item.nextReview}" class="text-right">02-05-2020</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>